<a href="https://colab.research.google.com/github/Rumantu/1st-Assignment/blob/main/Python_assignment_3_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def remainder(arr,length,k):
    multi = 1
    for i in range(0,length):
        multi = (multi * (arr[i] % k)) % k
    return multi % k
# Driver code
arr = [101, 1, 5, 2]
length = len(arr)
k = 3
print("Output is ", remainder(arr, length, k))

Output is  2

In [2]:
# Check if given array is Monotonic
def isMonotonic(A):

	return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
			all(A[i] >= A[i + 1] for i in range(len(A) - 1)))

# Driver program
A = [6, 5, 4, 4]

# Print required result
print(isMonotonic(A))

True

In [3]:
# Program to swap first and last element of a list

# Swap function
def swapList(newList):
	size = len(newList)
	
	# Swapping
	temp = newList[0]
	newList[0] = newList[size - 1]
	newList[size - 1] = temp
	
	return newList
	
# Driver code
newList = [12, 35, 9, 56, 24]

print(swapList(newList))

[24, 35, 9, 56, 12]

In [4]:
# Program to swap elements at given positions

# Swap function
def swapPositions(list, pos1, pos2):
	
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

# Driver function
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

In [5]:
# Python code to demonstrate length of list using naive method

# Initializing list
test_list = [ 1, 4, 5, 7, 8 ]

# Printing test_list
print ("The list is : " + str(test_list))

# Finding length of list using loop Initializing counter
counter = 0
for i in test_list:
	
	# incrementing counter
	counter = counter + 1

# Printing length of list
print ("Length of list using naive method is : " + str(counter))

The list is : [1, 4, 5, 7, 8]
Length of list using naive method is : 5

In [6]:
# Python code to demonstrate checking of element existence using loops and in

# Initializing list
test_list = [ 1, 6, 3, 5, 3, 4 ]

print("Checking if 4 exists in list ( using loop ) : ")

# Checking if 4 exists in list using loop
for i in test_list:
	if(i == 4) :
		print ("Element Exists")

print("Checking if 4 exists in list ( using in ) : ")

# Checking if 4 exists in list using in
if (4 in test_list):
	print ("Element Exists")

Checking if 4 exists in list ( using loop ) :
Element Exists
Checking if 4 exists in list ( using in ) :
Element Exists

In [7]:
# Python program to clear a list using clear() method

# Creating list
GEEK = [6, 0, 4, 1]
print('GEEK before clear:', GEEK)

# Clearing list
GEEK.clear()
print('GEEK after clear:', GEEK)

GEEK before clear: [6, 0, 4, 1]
GEEK after clear: []

In [8]:
# Reversing a list using reversed()
def Reverse(lst):
	return [ele for ele in reversed(lst)]
	
# Driver Code
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [9]:
# Python program to find sum of elements in list
total = 0

# creating a list
list1 = [11, 5, 17, 18, 23]

# Iterate each element in list and add them in variable total
for ele in range(0, len(list1)):
	total = total + list1[ele]

# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [10]:
# Python program to multiply all values in the list using traversal

def multiplyList(myList) :
	
	# Multiply elements one by one
	result = 1
	for x in myList:
		result = result * x
	return result
	
# Driver code
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24