<a href="https://colab.research.google.com/github/Rumantu/1st-Assignment/blob/main/Python_assignment_17_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python program to find the
# difference between two times


# function to obtain the time
# in minutes form
def difference(h1, m1, h2, m2):
	
	# convert h1 : m1 into
	# minutes
	t1 = h1 * 60 + m1
	
	# convert h2 : m2 into
	# minutes
	t2 = h2 * 60 + m2
	
	if (t1 == t2):
		print("Both are same times")
		return
	else:
		
		# calculating the difference
		diff = t2-t1
		
	# calculating hours from
	# difference
	h = (int(diff / 60)) % 24
	
	# calculating minutes from
	# difference
	m = diff % 60

	print(h, ":", m)

# Driver's code
if __name__ == "__main__":
	
	difference(7, 20, 9, 45)
	difference(15, 23, 18, 54)
	difference(16, 20, 16, 20)

2 : 25
3 : 31
Both are same times

In [2]:
# Python program to convert
# date to timestamp


import time
import datetime


string = "20/01/2020"
print(time.mktime(datetime.datetime.strptime(string,
											"%d/%m/%Y").timetuple()))

1579478400.0

In [3]:
from datetime import datetime


timestamp = 1545730073
dt_obj = datetime.fromtimestamp(1140825600)

print("date_time:",dt_obj)
print("type of dt:",type(dt_obj))

date_time: 2006-02-25 00:00:00
type of dt: <class 'datetime.datetime'>

In [4]:
# python program Find number of
# times every day occurs in a Year


import datetime
import calendar

def day_occur_time(year):
	
	# stores days in a week
	days = [ "Monday", "Tuesday", "Wednesday",
		"Thursday", "Friday", "Saturday",
		"Sunday" ]
	
	# Initialize all counts as 52
	L = [52 for i in range(7)]
	
	# Find the index of the first day
	# of the year
	pos = -1
	day = datetime.datetime(year, month = 1, day = 1).strftime("%A")
	for i in range(7):
		if day == days[i]:
			pos = i
			
	# mark the occurrence to be 53 of 1st day
	# and 2nd day if the year is leap year
	if calendar.isleap(year):
		L[pos] += 1
		L[(pos+1)%7] += 1
		
	else:
		L[pos] += 1
		
	
	# Print the days
	for i in range(7):
		print(days[i], L[i])
	

# Driver Code
year = 2019
day_occur_time(year)

Monday 52
Tuesday 53
Wednesday 52
Thursday 52
Friday 52
Saturday 52
Sunday 52

In [5]:
# _importing module
import re


def check(str, pattern):
	
	# _matching the strings
	if re.search(pattern, str):
		print("Valid String")
	else:
		print("Invalid String")

# _driver code
pattern = re.compile('^[1234]+$')
check('2134', pattern)
check('349', pattern)

Valid String
Invalid String

In [6]:
import re


string = "ThisIsGeeksforGeeks !, 123"

# Creating separate lists using
# the re.findall() method.
uppercase_characters = re.findall(r"[A-Z]", string)
lowercase_characters = re.findall(r"[a-z]", string)
numerical_characters = re.findall(r"[0-9]", string)
special_characters = re.findall(r"[, .!?]", string)

print("The no. of uppercase characters is", len(uppercase_characters))
print("The no. of lowercase characters is", len(lowercase_characters))
print("The no. of numerical characters is", len(numerical_characters))
print("The no. of special characters is", len(special_characters))

The no. of uppercase characters is 4
The no. of lowercase characters is 15
The no. of numerical characters is 3
The no. of special characters is 4

In [7]:
# import module for regular expression and collections
import re
#input
string='ab12cd123ef23'
#seperate number from string
number = re.findall('\d+', string)
#convert it into integer
number = map(int, number)
print("Max_value:",max(number))

Max_value: 123

In [8]:
# import module for regular expression 
import re
#input
string='HelloWorldOfPython'
#Find the words in string starting with uppercase letter. 
words = re.findall('[A-Z][a-z]*', string)
#concatenate the word with space
print(' '.join((words)))

Hello World Of Python